body {
    font-family: Arial, sans-serif;
    background-color: #cbbeb5;
}

h1 {
    text-shadow: 2px 2px red;
    font-family: Cursive;
    text-align: center;
}

h4 {
    font-family: Cursive;
    text-align: center;

}
.container {
    display: flex;
    column-gap: 10px;
    align-items: center;

}
img {
    max-width: 500px;
    margin: 30px auto;
    padding: 10px;
    background-color: #4D4F9E;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 200px

    
}
footer {
    text-align: center;
}
